.square {
    border: 1px solid black;
    display: flex;
}
.container {
    border: 5px solid red;
    display: flex;
    flex-wrap: wrap;
    width: 868px;
}
.square:hover {
    background-color: black;
}